
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather+Sans:wght@300;600&display=swap');

  /* Style the body */

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1 h2 h3 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 600;
}

 
/*--------------------------------------------Colors*/

color_example {
color:
#2D3540
#0B8C38
#20733D
#5DBF4E
#F2F2F2
/*additional borders and shadows*/
#FFFFFF
#ddd
#ccc
}
 

/* ----------------------------------------Special paddings/margins/text */

 

/*--------------------------------------------Heading*/

/*--------------------------------------------Navbar*/

.navbar {
    display: flex;
    background-color: #2D3540;
    width: 75%;
    width: 75%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #F2F2F2;
    }

.navbar a {
    color: #F2F2F2;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    }

.navbar a:hover {
    background-color: #ddd;
    color: #2D3540;
    }

  /*--------------------------------------------Header*/

.header {
    padding: 60px;
    text-align: center;
    background: #20733D;
    color: #F2F2F2;
  }

/*--------------------------------------------Subheadings & Specials*/

 

#sale {
    text-align: center;
    background: #DB592A;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 75%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #ccc;
}

/*-------------------------------------------- Main Container */

  .row { 
    display: flex;
    flex-wrap: wrap;
  }

  /* Left column -- in Main Container*/

  .side {
    flex: 30%;
    background-color: #F2F2F2;
    padding: 20px;
  }

  /* Left bottom images -- in Main Container*/
  .lb_image {
    color: #F2F2F2;
    max-inline-size: 420px;
    background-color: #2D3540;
    width: 100%;
    padding: 0px;
  }
  
  /* Right column -- in Main Container */
  
  .main {
    flex: 70%;
    background-color: #F2F2F2;
    padding: 20px;
  }
  
  /* Right top image  -- in Main Container */

  .main_img {
    flex: auto;
    width: 100%;
    object-fit: contain;
    opacity: 1; /*it fixed something but now does nothing - must have fixed it elsewhere*/
    padding: 0px;
  }

  .featuredarticle {
    text-align: center;
    background: #5DBF4E;
    color: #F2F2F2;
    border: 1px solid #FFFFFF;
    width: 75%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #20733D;}

    .featuredarticle h1 {
      font-size: 2em;
      text-align: center;
    }
    .featuredarticle h4 {
      font-size: 1.5em;
      text-align: center;
    }
    .featuredarticle p {
      font-size: 1.2em;
      text-align: center;
    }

  /* Right bottom image  -- in Main Container */
  
  .academy_img {
    color: #F2F2F2;
    background-color: #2D3540;
    width: 100%;
    height:200px;
    padding: 20px;
  }

/* ----------------------------------------Footer */
  
    .footer {
      padding: 20px;
      text-align: center;
      background: #ddd;
    }
  
    .footer a {
      color: #2D3540;
      padding: 14px 20px;
      text-decoration: none;
      text-align: center;
      }
  
    .footer a:hover {
      background-color: #ddd;
      color: #2D3540;
      }
  
    .footer p {
      color: #2D3540;
      padding: 14px 20px;
      text-decoration: none;
      text-align: center;
      }
  
    .footer p:hover {
      background-color: #F2F2F2;
      color: #2D3540;
      }
  
    /* ----------------------------------------Contact */
  
    #contact {
      text-align: center;
      background: #5DBF4E;
      color: #F2F2F2;
      border: 1px solid #FFFFFF;
      width: 75%;
      margin: auto;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 10px 10px 10px #20733D;
    }
  
    .social-networks {
      text-align: center;
    }
  
    .social-networks li {
      display: inline;
    }
  
    .social-networks i {
      font-size: 2em;
      color: #2D3540;
    }
  
    /* ----------------------------------------Personal Info*/
  
    /*--------------------------------------------Contact Form*/

    .form-label {
      color: #2D3540;
      font-size: 1.2em;
      font-weight: 600;
    }

    .form-control {
      border: 1px solid #2D3540;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
    }
  
    /*--------------------------------------------Media*/
    /* Responsive layout - make columns and stack */
  
    @media screen and (max-width: 700px) {
      .row, .navbar {
        flex-direction: column;
      }
    }
  
    /*--------------------------------------------construction page */
  
    .construction {
      
      height: 100%;
      background-position: center;
      background-size: cover;
      position: relative;
    }
  
    .construction_image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
    }
  
    .centertext {
      color: #5DBF4E;
      font-family: "Merriweather Sans";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50, -50%);
    text-align: center;
  }

  hr {
    margin: auto;
    width: 40%;
  }

  /*--------------------------------------------Shop Page */

  #brand {
    text-align: center;
    background: #5DBF4E;
    color: #F2F2F2;
    border: 1px solid #FFFFFF;
    width: 75%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #20733D;
}

#item {
    text-align: center;
    background: #5DBF4E;
    color: #F2F2F2;
    border: 1px solid #FFFFFF;
    width: 75%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #20733D;
}